{% extends  "layout.html" %}

{% block style %}
<style>
    #welcomeHeading {
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #alertMessage {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
    #logoutBtn {
        position: relative;
        background-color: white;
        color: black;
        border: none;
        margin-top: 5px;
        left: 94%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 5px;
   }
    .container-1 {
        min-height: 850px;
    }
    .acc-container {
        margin: auto;
        margin-top: 70px;
        width: 60%;
        background-color: white;
        border-radius: 10px;
        height: 100%;
        padding: 15px;
    }
    #pp-image-container {
        margin: auto;
        margin-bottom: 5%;
        /* border: 1px solid black; */
        height: 80px;
        width: 80px;
    }
    #changePassBtn, #viewScheduleExpenses {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #editUserNameBtn, #editEmailBtn, #editPhoneNumberBtn, #autoSendEmailsBtn {
        position: absolute;
        left: 73%;
    }
    #autoSendEmailsSelect {
        margin: auto;
        width: 70%;
    }
    #sendEmailModalHeader, #sendEmailModalFooter {
        border-color: white;
    }
    #passwordErrorMessage, #editEmailErrorMessage, #phoneNumberErrorMessage {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .field-item {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    .userInfo {
        font-family: 'Times New Roman', Times, serif;
        /* margin-right: 60%; */
    }
    #scheduleExpenseTable {
        max-height: 400px;
        margin: 0 auto;
        /* Make table scrollable */
        overflow-x: auto;
    }
    /* MAKE HEADERS FIXED  */
    #scheduleExpenseTable thead tr th {
        position: sticky;
        top: 0;
        background-color: #212529;
        color: #fff;
    }
    .table_header {
        z-index: 1;
    }
    .table_header {
        position: relative;
        width: 1%;
    }
    .table_data {
        font-weight: 600;
        font-size: 14px;
    }
    .edit-input {
        font-weight: 600;
        font-size: 14px;
    }
    .error-message {
        /*font-family: "Times New Roman",serif;*/
        font-weight: 600;
        color: #E20E0E;
        position: absolute;
        right: 83%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        color: orange;
    }


    
    @media only screen and (max-width: 950px) {
        #logoutBtn {
            left: 3%;
        }

    }
    @media only screen and (max-width: 770px) {
        .acc-container {
            width: 85%;
        }
    }
    @media only screen and (max-width: 1000px) {
        #scheduleExpenseTable {
            /* MAKE TABLE SCROLLABLE */
            display: block;
            /*max-width: -moz-fit-content;*/
            max-width: fit-content;
            max-height: 500px;
            margin: 0 auto;
            overflow-x: auto;
            white-space: nowrap;
        }
        .edit-expense-name-input, .edit-expense-price-input {
            width: 80px;
        }
        .edit-expense-frequency {
            width: 130px;
        }
    }
    @media only screen and (max-width: 660px) {
        #welcomeHeading {
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 420px) {
        #editUserNameBtn, #editEmailBtn, #editPhoneNumberBtn, #autoSendEmailsBtn {
            left: 80%;
        }
    }
    @media only screen and (max-width: 490px) {
        img {
            max-width: 85%;
        }
        #welcomeHeading {
            font-size: 28px;
        }
        .acc-container {
            width: 98%;
        }
        .field-item {
            font-size: 17px;
        }
    }
    @media only screen and (max-width: 360px) {
        #editUserNameBtn, #editEmailBtn, #editPhoneNumberBtn, #autoSendEmailsBtn {
            left: 83%;
        }
    }
   
</style>
{% endblock %}

{% block body %}
<!-- LOGOUT BUTTON -->
<form action="/logout">
    <button  id="logoutBtn" class="btn btn-primary">Logout</button>
</form>

<!-- ALERT MESSAGE -->
<div id="alertMessage" class="alert alert-primary" style="display: none;" role="alert"></div>

<div class="container-1">
    <center>
        <div id="mainHeading">Account</div>
    </center>
    <div class="acc-container">
        <div id="pp-image-container">
<!--            <img src="{{ url_for('static', filename = 'profile_pic2.png') }}">-->
            <img height="500" width="500" src="{{ url_for('static', filename = 'office.svg') }}">
        </div>
        
        <div id="welcomeHeading"></div>
        
        <div class="field-container">
            <!-- USERNAME -->
            <div class="field-item">Username: <span id="userNameField" class="userInfo"></span>
                <a href="#editUserNameModal" id="editUserNameBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>
            <!-- EMAIL -->
            <div class="field-item">Email: <span id="emailField" class="userInfo"></span>
                <a href="#editEmailModal" id="editEmailBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>
            <!-- PHONE NUMBER -->
            <div class="field-item">Phone Number: <span id="phoneNumberField" class="userInfo"></span>
                <a href="#editPhoneNumberModal" id="editPhoneNumberBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>
            <!-- AUTO SEND EMAILS -->
            <div class="field-item">Send Email After Expense Limit Reached: <span id="autoSendEmailField" class="userInfo"></span>
                <a href="#autoSendEmailsModal" id="autoSendEmailsBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>

            <!-- UPDATE PASSWORD -->
            <a href="#updatePasswordModal" class="edit" data-toggle="modal">
                <button id="changePassBtn" class="btn btn-light">Update Password</button>
            </a>
            <!-- VIEW SCHEDULE EXPENSES -->
            <a href="#scheduleExpenseModal" data-toggle="modal">
                <button id="viewScheduleExpenses" class="btn btn-light">View Schedule Expenses</button>
            </a>

        </div>
    </div>
</div>

<!-- EDIT USERNAME MODAL -->
<div id="editUserNameModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editUsernameForm">
                <!-- EDIT USERNAME -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Username</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- NEW USERNAME -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newUsername">New Username</label>
						<input class="form-control" name="newUsername" autocomplete="off">
                    </div>
                        <p id="errorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input id="cancelUsernameBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<button id="saveUsernameBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- EDIT EMAIL MODAL -->
<div id="editEmailModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editEmailForm">
              <!-- EDIT USERNAME -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Email</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- NEW EMAIL -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newEmail">New Email</label>
						<input class="form-control" name="newEmail" autocomplete="off">
                    </div>
                        <p id="editEmailErrorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input id="cancelEmailBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<button id="saveEmailBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
            </form>
        </div>
    </div>
</div>

<!-- EDIT PHONE NUMBER MODAL -->
<div id="editPhoneNumberModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editPhoneNumberForm">
              <!-- HEADER -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Phone Number</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- BODY -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newPhoneNumber">New Phone Number</label>
						<input class="form-control" name="newPhoneNumber" autocomplete="off">
                    </div>
                        <p id="phoneNumberErrorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input id="cancelPhoneNumberBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<button id="savePhoneNumberBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
            </form>
        </div>
    </div>
</div>

<!-- AUTO SEND EMAILS MODAL -->
<div id="autoSendEmailsModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
            <!-- AUTO SEND EMAILS -->
            <div id="sendEmailModalHeader" class="modal-header">						
                <h4 class="modal-title">Auto Send Emails</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- NEW OPTION -->
            <select id="autoSendEmailsSelect" class="form-control">
                <option id="ASMenabled" value="enabled">Enabled</option>
                <option id="ASMdisabled" value="disabled">Disabled</option>
            </select>
           
            <!-- SAVE AND CANCEL BUTTON -->
            <div id="sendEmailModalFooter" class="modal-footer">
                <input id="cancelAutoSendEmailBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <button id="saveAutoSendEmailBtn" class="btn btn-primary" type="button" disabled>Save</button>
            </div>
		
		</div>
	</div>
</div>

<!-- UPDATE PASSWORD MODAL -->
<div id="updatePasswordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <form id="updatePasswordForm">
                <!-- HEADER -->
                    <div class="modal-header">						
                        <h4 class="modal-title">Update Password</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <!-- BODY -->
                    <div class="modal-body">
                        <!-- CURRENT PASSWORD -->
                        <label class="inputLabel" for="currentPassword">Current Password</label>
                        <input class="form-control" name="currentPassword" type="password" autocomplete="new-password">
                        <!-- NEW PASSWORD -->
                        <label class="inputLabel" for="newPassword">New Password</label>
                        <input class="form-control" name="newPassword" type="password" autocomplete="new-password">
                        <!-- CONFIRM PASSWORD -->
                        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" name="confirmPassword" type="password" autocomplete="new-password">
                        <p id="passwordErrorMessage" class="text-warning"></p>
                    
                    </div>
                    <!-- SAVE AND CANCEL BUTTON -->
                    <div class="modal-footer">
                        <input id="cancelPasswordBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button id="savePasswordBtn" class="btn btn-primary" type="button" disabled>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- VIEW SCHEDULE EXPENSE MODAL -->
<div id="scheduleExpenseModal" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div id="scheduleExpenseModalTable">
            <div class="modal-content">
                <!-- HEADER -->
                <div class="modal-header">
                    <h4 class="modal-title">Schedule Expenses</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- BODY -->
                <div class="modal-body">
                    <div style="text-align: center;">
                        <table id="scheduleExpenseTable" class="table table" style="width:100%; margin: auto">
                            <thead class="thead-dark">
                            <tr>
                                <th class="table_header">Name</th>
                                <th class="table_header">Price</th>
                                <th class="table_header">Last Due</th>
                                <th class="table_header">Next Due</th>
                                <th class="table_header">Frequency</th>
                                <th class="table_header">Actions</th>
                            </tr>
                            </thead>
                            <tbody id="scheduleExpenseTableBody">
<!--                                <tr>-->
<!--                                    <td class="table_data" height="65px">Car Payment</td>-->
<!--                                    <td class="table_data">$1400</td>-->
<!--                                    <td class="table_data">March 20, 2021</td>-->
<!--                                    <td class="table_data">April 20, 2021</td>-->
<!--                                    <td class="table_data">Every Month</td>-->
<!--                                    <td>-->
<!--                                        <a href="#editExpenseModal" class="edit" data-toggle="modal">-->
<!--                                            <i class="material-icons" data-toggle="tooltip" data-item_id="53" title="Edit"></i>-->
<!--                                        </a>-->
<!--                                        <a href="#deleteExpenseModal" class="delete" data-toggle="modal">-->
<!--                                            <i class="material-icons" data-toggle="tooltip" data-item_id="53" title="Delete"></i>-->
<!--                                        </a>-->
<!--                                    </td>-->
<!--                                </tr>-->

<!--                                <tr class="table-active">-->
<!--                                    <td style="font-weight: bold;">Extra-Column</td>-->
<!--                                    <td></td>-->
<!--                                    <td class="table_data">Table-Data</td>-->
<!--                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" id="editModalCancelBtn" data-dismiss="modal" value="Cancel">
                    <button id="saveScheduleExpenseBtn" class="btn btn-primary" type="button" disabled>Save</button>
                    <div id="scheduleExpenseModalErrorMessage" class="error-message"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Delete Schedule Expense MODAL -->
<div id="deleteScheduleExpenseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Schedule Expense</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this expense?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" id="deleteScheduleExpenseCancelBtn" data-dismiss="modal" value="Cancel">
                    <button id="deleteScheduleExpenseBtn" class="btn btn-danger" type="button">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    // UI CLASS
    class UI {
        // POPULATE TABLE
        static populateScheduleExpenseTable() {
            let tableBody = document.querySelector('#scheduleExpenseTableBody')

            this.removeAllChildNodes(tableBody)

            const request = new XMLHttpRequest()
            request.open('GET', `/getUserScheduleExpenses`)
            request.onload = () => {
                const data = JSON.parse(request.responseText)
                for (let expense of data) {
                    tableBody.innerHTML += `
                        <tr>
                            <td class="table_data" data-info="expense_name" height="65px">${expense['expense_name']}</td>
                            <td class="table_data" data-info="expense_price">$${expense['expense_price']}</td>
                            <td class="table_data" data-info="last_due">${expense['last_due']}</td>
                            <td class="table_data" data-info="next_due">${expense['next_due']}</td>
                            <td class="table_data" data-info="frequency">${expense['frequency']}</td>
                            <td>
                                <a href="#" class="edit" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" data-expense_id=${expense['id']} title="Edit"></i>
                                </a>
                                <a href="#deleteScheduleExpenseModal" class="delete" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" data-expense_id=${expense['id']} title="Delete" style="color: #e20e0e"></i>
                                </a>
                            </td>
                        </tr>

                    `

                }
            }
            request.send()

        }

        // REMOVE ALL CHILD NODES
        static removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild)
            }
        }
    }

    // SCHEDULE EXPENSE CLASS
    class ScheduleExpense {
        static editScheduleExpense(expenseRow) {
            expenseRow.dataset.edit_mode = true
            for (let item of expenseRow.children) {
                let className
                switch (item.dataset.info) {
                    case 'expense_name':
                        className = 'edit-expense-name-input'
                        break
                    case 'expense_price':
                        className = 'edit-expense-price-input'
                        break
                    case 'frequency':
                        className = 'edit-expense-frequency'
                        break

                }
                if (item.dataset.info === 'expense_name' || item.dataset.info === 'expense_price' || item.dataset.info === 'frequency') {
                    // console.log(item)
                    if (item.dataset.info === 'expense_name')
                        item.innerHTML = `<input class="form-control edit-input ${className}" value="${item.textContent}" onkeyup="ScheduleExpense.validateNewExpenseName(this.value, this)">`
                    else if (item.dataset.info === 'expense_price')
                        item.innerHTML = `<input class="form-control edit-input ${className}" value="${item.textContent}" onkeyup="ScheduleExpense.validateNewExpensePrice(this.value, this)">`
                    else if (item.dataset.info === 'frequency')
                        item.innerHTML = `<input class="form-control edit-input ${className}" value="${item.textContent}" onkeyup="ScheduleExpense.validateNewExpenseFrequency(this.value, this)">`
                }
            }

        }
        // VALIDATE NEW EXPENSE NAME
        static validateNewExpenseName(newExpenseName, expenseNameInput) {
            let saveBtn = document.querySelector('#saveScheduleExpenseBtn')
            if (newExpenseName === '') {
                expenseNameInput.style.borderColor = 'red'
                saveBtn.disabled = true
            }
            else {
                expenseNameInput.style.borderColor = ''
                saveBtn.disabled = false
            }

        }
        // VALIDATE NEW EXPENSE PRICE
        static validateNewExpensePrice(newExpensePrice, expensePriceInput) {
            let saveBtn = document.querySelector('#saveScheduleExpenseBtn')
            newExpensePrice = newExpensePrice.replace('$', '')
            if (isNaN(newExpensePrice) || newExpensePrice === '') {
                expensePriceInput.style.borderColor = 'red'
                this.showErrorMessage('Invalid Expense Price')
                saveBtn.disabled = true
            }
            else {
                expensePriceInput.style.borderColor = ''
                this.removeErrorMessage()
                saveBtn.disabled = false
            }


        }
        // VALIDATE NEW EXPENSE FREQUENCY
        static validateNewExpenseFrequency(newExpenseFrequency, expenseFrequencyInput) {
            let saveBtn = document.querySelector('#saveScheduleExpenseBtn')
            newExpenseFrequency = newExpenseFrequency.split('-')
            let frequency = newExpenseFrequency[0]
            let amount = newExpenseFrequency[1]
            let timePeriod = newExpenseFrequency[2]

            console.log(amount)

            if (frequency !== 'every' || (isNaN(amount) || parseInt(amount) <= 0 || amount === '') || !(['day','days', 'week','weeks', 'month','months', 'year','years'].includes(timePeriod))) {
                this.showErrorMessage('Invalid Frequency')
                expenseFrequencyInput.style.borderColor = 'red'
                saveBtn.disabled = true
            }
            else {
                this.removeErrorMessage()
                expenseFrequencyInput.style.borderColor = ''
                saveBtn.disabled = false
            }


        }
        // SHOW ERROR MESSAGE
        static showErrorMessage(message) {
            let errorMessage = document.querySelector('#scheduleExpenseModalErrorMessage')
            errorMessage.textContent = message
        }
        // REMOVE ERROR MESSAGE
        static removeErrorMessage() {
            let errorMessage = document.querySelector('#scheduleExpenseModalErrorMessage')
            errorMessage.textContent = ''

        }
    }
    var alertBox = document.getElementById('alertMessage')

    // EXPENSE TABLE ROW
    class ExpenseTableRow {
        constructor(row) {
            for (let element of row.children) {
                switch (element.dataset.info) {
                    case 'expense_name':
                        this.expense_name = element.firstElementChild.value
                        break
                    case 'expense_price':
                        this.expense_price = element.firstElementChild.value.replace('$', '')
                        break
                    case 'frequency':
                        this.frequency = element.firstElementChild.value
                }
            }
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        UI.populateScheduleExpenseTable()
        populateFields()
        loadSettings()
    })
    // POPULATE FIELDS
    function populateFields() {
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            let userName = data['userName']
            let userEmail = data['Email']
            let userPhoneNumber = data['phoneNumber']

            let welcomeHeading = document.querySelector('#welcomeHeading')
            let userNameField = document.querySelector('#userNameField')
            let emailField = document.querySelector('#emailField')
            let phoneNumberField = document.querySelector('#phoneNumberField')

            welcomeHeading.textContent = `Welcome ${userName}`
            userNameField.textContent = userName
            if (userEmail === null) {
                emailField.textContent = "Not Set"
            }
            else {
                emailField.textContent = userEmail
            }
            if (userPhoneNumber === null) {
                phoneNumberField.textContent = "Not Set"
            }
            else {
                phoneNumberField.textContent = userPhoneNumber
            }
        }
        request.send()
    }
    // LOAD SETTINGS
    function loadSettings() {
        // LOAD AUTO SEND EMAILS
        if (!(localStorage.getItem('auto-send-email'))) {
            localStorage.setItem('auto-send-email', 'enabled')
        }
        document.querySelector('#autoSendEmailField').textContent = capitalize(localStorage.getItem('auto-send-email'))
        // Set the default select option in the modal box
        if (localStorage.getItem('auto-send-email') === 'enabled') {
            document.querySelector('#ASMenabled').selected = true
        }
        if (localStorage.getItem('auto-send-email') === 'disabled') {
            document.querySelector('#ASMdisabled').selected = true
        }
    }


    //                               VALIDATE MODAL FORMS                         //
    // USERNAME FORM
    document.querySelector('#editUsernameForm').onkeyup = () => {
        let newUserNameField = document.forms['editUsernameForm']['newUsername'].value
        let saveUsernameBtn = document.querySelector('#saveUsernameBtn')
        if (newUserNameField === '') {
            saveUsernameBtn.disabled = true
        }
        else {
            saveUsernameBtn.disabled = false
        }
    }
    // EMAIL FORM
    document.querySelector('#editEmailForm').onkeyup = () => {
        let newEmailField = document.forms['editEmailForm']['newEmail']
        let saveEmailBtn = document.querySelector('#saveEmailBtn')
        let errorMessage = document.querySelector('#editEmailErrorMessage')
        if (newEmailField.value === '') {
            errorMessage.textContent = ""
            saveEmailBtn.disabled = true
            newEmailField.style.borderColor = ""
        }
        else {
            if (!(newEmailField.value.includes('@')) || newEmailField.value.includes(' ')) {
                saveEmailBtn.disabled = true
                errorMessage.textContent = "Invalid email address"
                newEmailField.style.borderColor = "orange"
            }
            else {
                saveEmailBtn.disabled = false
                errorMessage.textContent = ""
                newEmailField.style.borderColor = ""
            }
            
        }
    }
    // PHONE NUMBER FORM
    document.querySelector('#editPhoneNumberForm').onkeyup = () => {
        let newPhoneNumberField = document.forms['editPhoneNumberForm']['newPhoneNumber']
        let savePhoneNumberBtn = document.querySelector('#savePhoneNumberBtn')
        let errorMessage = document.querySelector('#phoneNumberErrorMessage')
        if (newPhoneNumberField.value === '') {
            savePhoneNumberBtn.disabled = true
            errorMessage.textContent = ""
            newPhoneNumberField.style.borderColor = ""
        }
        else {
            if (!(isValidPhoneNumber(newPhoneNumberField.value))) {
                savePhoneNumberBtn.disabled = true
                errorMessage.textContent = "Invalid phone number"
                newPhoneNumberField.style.borderColor = "orange"
            }
            else {
                savePhoneNumberBtn.disabled = false
                errorMessage.textContent = ""
                newPhoneNumberField.style.borderColor = ""
            }
        }
    }
    // PASSWORD FORM
    document.querySelector('#updatePasswordForm').onkeyup = () => {
        let currentPasswordField = document.forms['updatePasswordForm']['currentPassword'].value
        let newPasswordField =  document.forms['updatePasswordForm']['newPassword'].value
        let confirmPasswordField = document.forms['updatePasswordForm']['confirmPassword']
        let errorMessage = document.querySelector('#passwordErrorMessage')
        let savePasswordBtn = document.querySelector('#savePasswordBtn')

        if (currentPasswordField !== '' && newPasswordField !== '' && confirmPasswordField.value === '') {
                 errorMessage.textContent = ''
                 confirmPasswordField.style.borderColor = ''
             }

        if (currentPasswordField === '' || newPasswordField === '' || confirmPasswordField.value === '') {
            savePasswordBtn.disabled = true
        }
        else {
            savePasswordBtn.disabled = false
             // CHECKING IF PASSWORDS MATCH
            if ((confirmPasswordField.value !== '') && confirmPasswordField.value !== newPasswordField) {
                confirmPasswordField.style.borderColor = 'red'
                errorMessage.textContent = "Passwords don't match"
                savePasswordBtn.disabled = true
            }
            else {
                confirmPasswordField.style.borderColor = ''
                errorMessage.textContent = ""
                savePasswordBtn.disabled = false
            }
        }

       

    }
    // AUTO SEND EMAIL SELECT
    document.querySelector('#autoSendEmailsSelect').onchange = function() {
        let currentSetting = localStorage.getItem('auto-send-email')
        let saveAutoSendEmailBtn = document.querySelector('#saveAutoSendEmailBtn')

        if (this.value !== currentSetting) {
            saveAutoSendEmailBtn.disabled = false
        }
        else {
            saveAutoSendEmailBtn.disabled = true
        }
    }


    //                                       UPDATE USER ACCOUNT
    // UPDATE USERNAME
    document.querySelector('#saveUsernameBtn').onclick = () => {
        let newUsername = document.forms['editUsernameForm']['newUsername']
        // GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            let userID = data['id']
            let prevUsername = data['userName']
            // SEND REQUEST TO UPDATE USERNAME
            const u_request = new XMLHttpRequest()
            u_request.open('POST', `/updateUserInfo/${userID}/userName/${newUsername.value}/${prevUsername}`)
            u_request.onload = () => {
                const response = u_request.responseText
                if (response === '-1') {
                    // The name entered was the same as the name already stored
                    document.querySelector('#cancelUsernameBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert(`Your Username is Already ${prevUsername}`, 'secondary')
                }
                else if (response === 'Update Successful') {
                    // UPDATE UI
                    document.querySelector('#welcomeHeading').textContent = `Welcome ${newUsername.value}`
                    document.querySelector('#userNameField').textContent = newUsername.value
                    newUsername.value = ""
                    // EXIT MODAL BOX
                    document.querySelector('#cancelUsernameBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert("Username Changed")
                }
            }
            u_request.send()
        }
        request.send()
    }
    // UPDATE USER EMAIL
    document.querySelector('#saveEmailBtn').onclick = () => {
        let newUserEmail = document.forms['editEmailForm']['newEmail']
        // GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            const userID = data['id']
            const prevEmail = data['Email']
            // SEND REQUEST TO UPDATE EMAIL
            const e_request = new XMLHttpRequest()
            e_request.open('POST', `/updateUserInfo/${userID}/userEmail/${newUserEmail.value}/${prevEmail}`)
            e_request.onload = () => {
                const response = e_request.responseText
                if (response === '-1') {
                    // The email entered was the same as the email stored
                    document.querySelector('#cancelEmailBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert(`Your Email is Already ${prevEmail}`, 'secondary')
                }
                else if (response === 'Update Successful') {
                    // UPDATE UI
                    document.querySelector('#emailField').textContent = newUserEmail.value
                    newUserEmail.value = ""
                    // EXIT MODAL BOX
                    document.querySelector('#cancelEmailBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert('Email Changed')
                }
            }
            e_request.send()
        }
        request.send()
    }
    // UPDATE USER PHONE NUMBER
    document.querySelector('#savePhoneNumberBtn').onclick = () => {
        let newUserPhoneNumber = document.forms['editPhoneNumberForm']['newPhoneNumber']
        //  GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            const userID = data['id']
            const prevPhoneNumber = data['phoneNumber']
            // SEND REQUEST TO UPDATE USER PHONE NUMBER
            const p_request = new XMLHttpRequest()
            p_request.open('POST', `/updateUserInfo/${userID}/userPhoneNumber/${newUserPhoneNumber.value}/${prevPhoneNumber}`)
            p_request.onload = () => {
                const response = p_request.responseText
                if (response === '-1') {
                    // The phone number entered is the same as the phone number stored
                    document.querySelector('#cancelPhoneNumberBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert(`Your Phone Number is Already ${prevPhoneNumber}`, 'secondary')
                }
                else if (response === 'Update Successful') {
                    // UPDATE UI
                    document.querySelector('#phoneNumberField').textContent = newUserPhoneNumber.value
                    newUserPhoneNumber.value = ""
                    // EXIT MODAL BOX
                    document.querySelector('#cancelPhoneNumberBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert('Phone Number Changed')
                }
            }
            p_request.send()
        }
        request.send()
    }
    // UPDATE USER PASSWORD
    document.querySelector('#savePasswordBtn').onclick = () => {
        let currentPasswordField = document.forms['updatePasswordForm']['currentPassword']
        let newPasswordField =  document.forms['updatePasswordForm']['newPassword']
        let confirmPasswordField = document.forms['updatePasswordForm']['confirmPassword']
        let errorMessage = document.querySelector('#passwordErrorMessage')

        // GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            let userID = data['id']
            let prevPassword = data['Password']
            // SEND REQUEST TO UPDATE PASSWORD
            const pw_request = new XMLHttpRequest()
            pw_request.open('POST', `/updateUserInfo/${userID}/userPassword/${newPasswordField.value}/${currentPasswordField.value}`)
            pw_request.onload = () => {
                const response = pw_request.responseText
                if (response === '-1') {
                    // THE CURRENT PASSWORD THAT WAS ENTERED IS INCORRECT
                    errorMessage.textContent = "Current password entered is incorrect"
                }
                else {
                    // CLEAR THE TEXT FIELDS
                    currentPasswordField.value = ''
                    newPasswordField.value = ''
                    confirmPasswordField.value = ''
                    document.querySelector('#cancelPasswordBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert('Password Updated')
                }
            }
            // SEND THE HASH OF THE CURRENT USER'S PASSWORD 
            const pwdData = new FormData()
            pwdData.append('currentPassword', currentPasswordField.value)

            pw_request.send(pwdData)
        }
        request.send()
    }
    // UPDATE AUTO SEND EMAILS
    document.querySelector('#saveAutoSendEmailBtn').onclick = () => {
        let newSettingValue = document.querySelector('#autoSendEmailsSelect').value
        localStorage.setItem('auto-send-email', newSettingValue)
        document.querySelector('#autoSendEmailField').textContent = capitalize(newSettingValue)
        document.querySelector('#cancelAutoSendEmailBtn').click()
        scrollToTop()
        showAlert(`Auto Send Email ${capitalize(newSettingValue)}`)

    }


    /* ONCLICK EVENTS */

    // Schedule Expense Table
    let allChangedExpenseRows = []
    let updateScheduleExpenses = []
    document.querySelector('#scheduleExpenseTableBody').addEventListener('click', (e) => {
        let expenseRow
        switch (e.target.parentElement.className) {
            case 'edit':
                expenseRow =  e.target.parentElement.parentElement.parentElement
                ScheduleExpense.editScheduleExpense(expenseRow)
                allChangedExpenseRows.push(expenseRow)
                break
            case 'delete':
                document.querySelector('#deleteScheduleExpenseBtn').dataset.expense_id = e.target.dataset.expense_id

                break
        }
    })
    // Schedule Expense Save Btn
    document.querySelector('#saveScheduleExpenseBtn').addEventListener('click', () => {
        for (let row of allChangedExpenseRows) {
            let expense_id = row.lastElementChild.firstElementChild.firstElementChild.dataset.expense_id

            row = new ExpenseTableRow(row)
            updateScheduleExpenses.push({'id': expense_id, 'newName': row.expense_name, 'newPrice': row.expense_price, 'newFrequency': row.frequency})
        }
        for (let row of allChangedExpenseRows) {
            for (let item of row.children) {
                if (item.dataset.info === 'expense_name' || item.dataset.info === 'expense_price' || item.dataset.info === 'frequency') {
                    item.innerHTML = item.firstElementChild.value
                }
            }
        }
        const request = new XMLHttpRequest()
        request.open('POST', `/editScheduleExpense/${JSON.stringify(updateScheduleExpenses)}`)
        request.onload = () => {
            allChangedExpenseRows = []
            updateScheduleExpenses = []
        }
        request.send()



    })

    // DELETE SCHEDULE EXPENSE
    document.querySelector('#deleteScheduleExpenseBtn').addEventListener('click', (e) => {
        let expense_id = e.target.dataset.expense_id
        let cancelBtn = document.querySelector('#deleteScheduleExpenseCancelBtn')
        const request = new XMLHttpRequest()
        request.open('POST', `/deleteScheduleExpense/${expense_id}`)
        request.onload = () => {
            cancelBtn.click()
            UI.populateScheduleExpenseTable()
        }
        request.send()

    })

    /* ONKEY-UP EVENTS */

    function test() {
        console.log('test')
    }

    // CAPITALIZE
    function capitalize(s) {
        if (typeof s !== 'string') return null
        return s.charAt(0).toUpperCase() + s.slice(1)
    }
    // PHONE NUMBER IS VALID
    function isValidPhoneNumber(number) {
        number = number.split('-')
        if (number.length === 3) {
            return (isDigit(number[0]) && number[0].length === 3) && (isDigit(number[1]) && number[1].length === 3) && (isDigit(number[2]) && number[2].length === 4)
        }
        else {
            return false
        }
    }
    // ISDIGIT
    function isDigit(n) {
        return !(isNaN(n))
    }


    // SHOW ALERT
    function showAlert(message, type) {
        alertBox.textContent = message
        alertBox.style.display = "block"

        if (type !== undefined) {
            alertBox.className = `alert alert-${type}`
        }
        else {
            alertBox.className = 'alert alert-primary'
        }
        setTimeout(removeAlert, 4000)
    }
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' })
    }
    function removeAlert() {
        alertBox.style.display = "none"
    }


</script>
{% endblock %}