{% extends  "layout.html" %}

{% block style %}
<style>
    #welcomeHeading {
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #logoutBtn {
        position: relative;
        background-color: white;
        color: black;
        border: none;
        margin-top: 5px;
        left: 94%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 5px;
   }
    .container-1 {
        min-height: 850px;
    }
    .acc-container {
        margin: auto;
        margin-top: 70px;
        width: 60%;
        background-color: white;
        border-radius: 10px;
        height: 520px;
        padding: 15px;
    }
    #pp-image-container {
        margin: auto;
        /* border: 1px solid black; */
        height: 80px;
        width: 80px;
    }
    #changePassBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #editUserNameBtn, #editEmailBtn, #editPhoneNumberBtn, #autoSendEmailsBtn {
        position: absolute;
        left: 73%;
    }
    #autoSendEmailsSelect {
        margin: auto;
        width: 70%;
    }
    #sendEmailModalHeader, #sendEmailModalFooter {
        border-color: white;
    }
    #passwordErrorMessage, #editEmailErrorMessage, #phoneNumberErrorMessage {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .field-item {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    .userInfo {
        font-family: 'Times New Roman', Times, serif;
        /* margin-right: 60%; */
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        color: orange;
    }
    
    @media only screen and (max-width: 950px) {
        #logoutBtn {
            left: 3%;
        }
    }
    @media only screen and (max-width: 770px) {
        .acc-container {
            width: 85%;
        }
    }
    @media only screen and (max-width: 660px) {
        #welcomeHeading {
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 420px) {
        #editUserNameBtn, #editEmailBtn, #editPhoneNumberBtn, #autoSendEmailsBtn {
            left: 80%;
        }
    }
    @media only screen and (max-width: 375px) {
        img {
            max-width: 85%;
        }
        #welcomeHeading {
            font-size: 28px;
        }
        .acc-container {
            width: 98%;
        }
        .field-item {
            font-size: 17px;
        }
    }
    @media only screen and (max-width: 360px) {
        #editUserNameBtn, #editEmailBtn, #editPhoneNumberBtn, #autoSendEmailsBtn {
            left: 83%;
        }
    }
   
</style>
{% endblock %}

{% block body %}
<!-- LOGOUT BUTTON -->
<form action="/logout">
    <button  id="logoutBtn" class="btn btn-primary">Logout</button>
</form>

<!-- ALERT MESSAGE -->
<div id="alertMessage" class="alert alert-primary" style="display: none;" role="alert"></div>

<div class="container-1">
    <center>
        <div id="mainHeading">Account</div>
    </center>
    <div class="acc-container">
        <div id="pp-image-container">
            <img src="{{ url_for('static', filename = 'profile_pic2.png') }}">
        </div>
        
        <div id="welcomeHeading"></div>
        
        <div class="field-container">
            <!-- USERNAME -->
            <div class="field-item">Username: <span id="userNameField" class="userInfo"></span>
                <a href="#editUserNameModal" id="editUserNameBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>
            <!-- EMAIL -->
            <div class="field-item">Email: <span id="emailField" class="userInfo"></span>
                <a href="#editEmailModal" id="editEmailBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>
            <!-- PHONE NUMBER -->
            <div class="field-item">Phone Number: <span id="phoneNumberField" class="userInfo"></span>
                <a href="#editPhoneNumberModal" id="editPhoneNumberBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>
            <!-- AUTO SEND EMAILS -->
            <div class="field-item">Send Email After Expense Limit Reached: <span id="autoSendEmailField" class="userInfo"></span>
                <a href="#autoSendEmailsModal" id="autoSendEmailsBtn" class="edit" data-toggle="modal">
                    <i class="material-icons" data-toggle="tooltip" data-item_id="28" title="Edit"></i>
                </a>
            </div>
            <hr>

            <!-- UPDATE PASSWORD -->
            <a href="#updatePasswordModal" class="edit" data-toggle="modal">
                <button id="changePassBtn" class="btn btn-light">Update Password</button>
            </a>
        </div>
    </div>
</div>

<!-- EDIT USERNAME MODAL -->
<div id="editUserNameModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editUsernameForm">
                <!-- EDIT USERNAME -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Username</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- NEW USERNAME -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newUsername">New Username</label>
						<input class="form-control" name="newUsername" autocomplete="off">
                    </div>
                        <p id="errorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input id="cancelUsernameBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<button id="saveUsernameBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- EDIT EMAIL MODAL -->
<div id="editEmailModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editEmailForm">
              <!-- EDIT USERNAME -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Email</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- NEW EMAIL -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newEmail">New Email</label>
						<input class="form-control" name="newEmail" autocomplete="off">
                    </div>
                        <p id="editEmailErrorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input id="cancelEmailBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<button id="saveEmailBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
            </form>
        </div>
    </div>
</div>

<!-- EDIT PHONE NUMBER MODAL -->
<div id="editPhoneNumberModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editPhoneNumberForm">
              <!-- HEADER -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Phone Number</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- BODY -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newPhoneNumber">New Phone Number</label>
						<input class="form-control" name="newPhoneNumber" autocomplete="off">
                    </div>
                        <p id="phoneNumberErrorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input id="cancelPhoneNumberBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<button id="savePhoneNumberBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
            </form>
        </div>
    </div>
</div>

<!-- AUTO SEND EMAILS MODAL -->
<div id="autoSendEmailsModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
            <!-- AUTO SEND EMAILS -->
            <div id="sendEmailModalHeader" class="modal-header">						
                <h4 class="modal-title">Auto Send Emails</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- NEW OPTION -->
            <select id="autoSendEmailsSelect" class="form-control">
                <option id="ASMenabled" value="enabled">Enabled</option>
                <option id="ASMdisabled" value="disabled">Disabled</option>
            </select>
           
            <!-- SAVE AND CANCEL BUTTON -->
            <div id="sendEmailModalFooter" class="modal-footer">
                <input id="cancelAutoSendEmailBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <button id="saveAutoSendEmailBtn" class="btn btn-primary" type="button" disabled>Save</button>
            </div>
		
		</div>
	</div>
</div>



<!-- UPDATE PASSWORD MODAL -->
<div id="updatePasswordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <form id="updatePasswordForm">
                <!-- HEADER -->
                    <div class="modal-header">						
                        <h4 class="modal-title">Update Password</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <!-- BODY -->
                    <div class="modal-body">
                        <!-- CURRENT PASSWORD -->
                        <label class="inputLabel" for="currentPassword">Current Password</label>
                        <input class="form-control" name="currentPassword" type="password" autocomplete="new-password">
                        <!-- NEW PASSWORD -->
                        <label class="inputLabel" for="newPassword">New Password</label>
                        <input class="form-control" name="newPassword" type="password" autocomplete="new-password">
                        <!-- CONFIRM PASSWORD -->
                        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" name="confirmPassword" type="password" autocomplete="new-password">
                        <p id="passwordErrorMessage" class="text-warning"></p>
                    
                    </div>
                    <!-- SAVE AND CANCEL BUTTON -->
                    <div class="modal-footer">
                        <input id="cancelPasswordBtn" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button id="savePasswordBtn" class="btn btn-primary" type="button" disabled>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    var alertBox = document.getElementById('alertMessage')

    document.addEventListener('DOMContentLoaded', () => {
        populateFields()
        loadSettings()
    })
    // POPULATE FIELDS
    function populateFields() {
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            let userName = data['userName']
            let userEmail = data['Email']
            let userPhoneNumber = data['phoneNumber']

            let welcomeHeading = document.querySelector('#welcomeHeading')
            let userNameField = document.querySelector('#userNameField')
            let emailField = document.querySelector('#emailField')
            let phoneNumberField = document.querySelector('#phoneNumberField')

            welcomeHeading.textContent = `Welcome ${userName}`
            userNameField.textContent = userName
            if (userEmail === null) {
                emailField.textContent = "Not Set"
            }
            else {
                emailField.textContent = userEmail
            }
            if (userPhoneNumber === null) {
                phoneNumberField.textContent = "Not Set"
            }
            else {
                phoneNumberField.textContent = userPhoneNumber
            }
        }
        request.send()
    }
    // LOAD SETTINGS
    function loadSettings() {
        // LOAD AUTO SEND EMAILS
        if (!(localStorage.getItem('auto-send-email'))) {
            localStorage.setItem('auto-send-email', 'enabled')
        }
        document.querySelector('#autoSendEmailField').textContent = capitalize(localStorage.getItem('auto-send-email'))
        // Set the default select option in the modal box
        if (localStorage.getItem('auto-send-email') === 'enabled') {
            document.querySelector('#ASMenabled').selected = true
        }
        if (localStorage.getItem('auto-send-email') === 'disabled') {
            document.querySelector('#ASMdisabled').selected = true
        }
    }


    //                               VALIDATE MODAL FORMS                         //
    // USERNAME FORM
    document.querySelector('#editUsernameForm').onkeyup = () => {
        let newUserNameField = document.forms['editUsernameForm']['newUsername'].value
        let saveUsernameBtn = document.querySelector('#saveUsernameBtn')
        if (newUserNameField === '') {
            saveUsernameBtn.disabled = true
        }
        else {
            saveUsernameBtn.disabled = false
        }
    }
    // EMAIL FORM
    document.querySelector('#editEmailForm').onkeyup = () => {
        let newEmailField = document.forms['editEmailForm']['newEmail']
        let saveEmailBtn = document.querySelector('#saveEmailBtn')
        let errorMessage = document.querySelector('#editEmailErrorMessage')
        if (newEmailField.value === '') {
            errorMessage.textContent = ""
            saveEmailBtn.disabled = true
            newEmailField.style.borderColor = ""
        }
        else {
            if (!(newEmailField.value.includes('@')) || newEmailField.value.includes(' ')) {
                saveEmailBtn.disabled = true
                errorMessage.textContent = "Invalid email address"
                newEmailField.style.borderColor = "orange"
            }
            else {
                saveEmailBtn.disabled = false
                errorMessage.textContent = ""
                newEmailField.style.borderColor = ""
            }
            
        }
    }
    // PHONE NUMBER FORM
    document.querySelector('#editPhoneNumberForm').onkeyup = () => {
        let newPhoneNumberField = document.forms['editPhoneNumberForm']['newPhoneNumber']
        let savePhoneNumberBtn = document.querySelector('#savePhoneNumberBtn')
        let errorMessage = document.querySelector('#phoneNumberErrorMessage')
        if (newPhoneNumberField.value === '') {
            savePhoneNumberBtn.disabled = true
            errorMessage.textContent = ""
            newPhoneNumberField.style.borderColor = ""
        }
        else {
            if (isNaN(newPhoneNumberField.value)) {
                savePhoneNumberBtn.disabled = true
                errorMessage.textContent = "Invalid phone number"
                newPhoneNumberField.style.borderColor = "orange"
            }
            else {
                savePhoneNumberBtn.disabled = false
                errorMessage.textContent = ""
                newPhoneNumberField.style.borderColor = ""
            }
        }
    }
    // PASSWORD FORM
    document.querySelector('#updatePasswordForm').onkeyup = () => {
        let currentPasswordField = document.forms['updatePasswordForm']['currentPassword'].value
        let newPasswordField =  document.forms['updatePasswordForm']['newPassword'].value
        let confirmPasswordField = document.forms['updatePasswordForm']['confirmPassword']
        let errorMessage = document.querySelector('#passwordErrorMessage')
        let savePasswordBtn = document.querySelector('#savePasswordBtn')

        if (currentPasswordField != '' && newPasswordField != '' && confirmPasswordField.value === '') {
                 errorMessage.textContent = ''
                 confirmPasswordField.style.borderColor = ''
             }

        if (currentPasswordField === '' || newPasswordField === '' || confirmPasswordField.value === '') {
            savePasswordBtn.disabled = true
        }
        else {
            savePasswordBtn.disabled = false
             // CHECKING IF PASSWORDS MATCH
            if ((confirmPasswordField.value != '') && confirmPasswordField.value != newPasswordField) {
                confirmPasswordField.style.borderColor = 'red'
                errorMessage.textContent = "Passwords don't match"
                savePasswordBtn.disabled = true
            }
            else {
                confirmPasswordField.style.borderColor = ''
                errorMessage.textContent = ""
                savePasswordBtn.disabled = false
            }
        }

       

    }
    // AUTO SEND EMAIL SELECT
    document.querySelector('#autoSendEmailsSelect').onchange = function() {
        let currentSetting = localStorage.getItem('auto-send-email')
        let saveAutoSendEmailBtn = document.querySelector('#saveAutoSendEmailBtn')

        if (this.value !== currentSetting) {
            saveAutoSendEmailBtn.disabled = false
        }
        else {
            saveAutoSendEmailBtn.disabled = true
        }
    }


    //                                       UPDATE USER ACCOUNT
    // UPDATE USERNAME
    document.querySelector('#saveUsernameBtn').onclick = () => {
        let newUsername = document.forms['editUsernameForm']['newUsername']
        // GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            let userID = data['id']
            // SEND REQUEST TO UPDATE USERNAME
            const u_request = new XMLHttpRequest()
            u_request.open('POST', `/updateUserInfo/${userID}/userName/${newUsername.value}`)
            u_request.onload = () => {
                document.querySelector('#welcomeHeading').textContent = `Welcome ${newUsername.value}`
                newUsername.value = ""
                document.querySelector('#cancelUsernameBtn').click()
                window.scrollTo({ top: 0, behavior: 'smooth' })
                showAlert("Username Changed")
            }
            u_request.send()
        }
        request.send()
    }
    // UPDATE USER EMAIL
    document.querySelector('#saveEmailBtn').onclick = () => {
        let newUserEmail = document.forms['editEmailForm']['newEmail']
        // GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            const userID = data['id']
            // SEND REQUEST TO UPDATE EMAIL
            const e_request = new XMLHttpRequest()
            e_request.open('POST', `/updateUserInfo/${userID}/userEmail/${newUserEmail.value}`)
            e_request.onload = () => {
                document.querySelector('#emailField').textContent = newUserEmail.value
                newUserEmail.value = ""
                document.querySelector('#cancelEmailBtn').click()
                window.scrollTo({ top: 0, behavior: 'smooth' })
                showAlert('Email Changed')
            }
            e_request.send()
        }
        request.send()
    }
    // UPDATE USER PHONE NUMBER
    document.querySelector('#savePhoneNumberBtn').onclick = () => {
        let newUserPhoneNumber = document.forms['editPhoneNumberForm']['newPhoneNumber']
        //  GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            const userID = data['id']
            // SEND REQUEST TO UPDATE USER PHONE NUMBER
            const p_request = new XMLHttpRequest()
            p_request.open('POST', `/updateUserInfo/${userID}/userPhoneNumber/${newUserPhoneNumber.value}`)
            p_request.onload = () => {
                document.querySelector('#phoneNumberField').textContent = newUserPhoneNumber.value
                newUserPhoneNumber.value = ""
                document.querySelector('#cancelPhoneNumberBtn').click()
                window.scrollTo({ top: 0, behavior: 'smooth' })
                showAlert('Phone Number Changed')
            }
            p_request.send()
        }
        request.send()
    }
    // UPDATE USER PASSWORD
    document.querySelector('#savePasswordBtn').onclick = () => {
        let currentPasswordField = document.forms['updatePasswordForm']['currentPassword']
        let newPasswordField =  document.forms['updatePasswordForm']['newPassword']
        let confirmPasswordField = document.forms['updatePasswordForm']['confirmPassword']
        let errorMessage = document.querySelector('#passwordErrorMessage')

        // GET USER ID
        const request = new XMLHttpRequest()
        request.open('GET', '/getUserInfo')
        request.onload = () => {
            const data = JSON.parse(request.responseText)
            let userID = data['id']
            // SEND REQUEST TO UPDATE PASSWORD
            const pw_request = new XMLHttpRequest()
            pw_request.open('POST', `/updateUserInfo/${userID}/userPassword/${newPasswordField.value}`)
            pw_request.onload = () => {
                const response = pw_request.responseText
                if (response === '-1') {
                    // THE CURRENT PASSWORD THAT WAS ENTERED IS INCORRECT
                    errorMessage.textContent = "Current password entered is incorrect"
                }
                else {
                    // CLEAR THE TEXT FIELDS
                    currentPasswordField.value = ''
                    newPasswordField.value = ''
                    confirmPasswordField.value = ''
                    document.querySelector('#cancelPasswordBtn').click()
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                    showAlert('Password Updated')
                }
            }
            // SEND THE HASH OF THE CURRENT USER'S PASSWORD 
            const pwdData = new FormData()
            pwdData.append('currentPassword', currentPasswordField.value)

            pw_request.send(pwdData)
        }
        request.send()
    }
    // UPDATE AUTO SEND EMAILS
    document.querySelector('#saveAutoSendEmailBtn').onclick = () => {
        let newSettingValue = document.querySelector('#autoSendEmailsSelect').value
        localStorage.setItem('auto-send-email', newSettingValue)
        document.querySelector('#autoSendEmailField').textContent = capitalize(newSettingValue)
        document.querySelector('#cancelAutoSendEmailBtn').click()
        scrollToTop()
        showAlert(`Auto Send Email ${capitalize(newSettingValue)}`)

    }

    function capitalize(s) {
        if (typeof s !== 'string') return null
        return s.charAt(0).toUpperCase() + s.slice(1)
    }


     // SHOW ALERT
     function showAlert(message) {
        alertBox.textContent = message
        alertBox.style.display = "block"
        setTimeout(removeAlert, 4000)
    }
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' })
    }
    function removeAlert() {
        alertBox.style.display = "none"
    }


</script>
{% endblock %}