{% extends "layout.html" %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_table.css') }}">

{% endblock %}

{% block style %}
<style>
    #mainHeading {
        font-size: 60px;
    }
    #addExpenseHeading, #expenseInfo, #expenseTableHeading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 35px;
        font-weight: 400;
    }
    #expenseInfo {
        margin-bottom: 5px;
    }
    #addExpenseBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: orange;
        border: none;
        border-radius: 10px;
    }
    #deleteExpenseBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: none;
        border-radius: 10px;
    }
    #setSpendingLimitBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        border: none;
        border-radius: 10px;
        background-color: blueviolet;
    }
    #expenseLimitText {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        font-weight: 400;
    }
    #expenseLimitSet {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 400;
    }
    #setLimitBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 10px;
        border: none;
        border-radius: 10px;
        background-color: blueviolet;
    }
    #expenseLimitModalSelect {
        margin: auto;
        width: 86%;
    }
    #saveEditBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: none;
        border-radius: 10px;
    }
    #logoutBtn, #accountBtn {
        position: relative;
        background-color: white;
        color: black;
        border: none;
        margin-top: 5px;
        left: 94%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 5px;
   }
   #accountBtn {
       position: absolute;
       margin-top: 0;
       top: 1%;
       left: 86%;
   }
    a, a:hover {
        color: white;
        text-decoration: none;
    }
    #expenseTableSelect {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 125px;
    }
    #exceedLimitText {
        margin-left: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        color: red;

    }
    #expenseLimitModalLabel {
        margin-left: 28px;
    }
    #expenseLimtSetText {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-left: 28px;
        margin-bottom: 10px;
        color: goldenrod;
    }
    /* #setExpenseLimitModal {
        margin: auto;
        width: 90%;
    } */
    #closeBtn {
        position: absolute;
        top: -2%;
        right: 4%;
        font-size: 42px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    .table_data {
        font-weight: 600;
    }
    .container-1 {
        display: flex;
        flex-wrap: wrap;
        min-height: 850px;
    }
    .add-expense-container {
        margin: auto;
        margin-top: 70px;
        width: 60%;
        background-color: white;
        border-radius: 10px;
        height: 320px;
        padding: 15px;
    }
    .expense-tracker-conainer {
        margin: auto;
        margin-top: 70px;
        width: 30%;
        background-color: white;
        border-radius: 10px;
        height: 320px;
        padding: 15px;
    }
    .expense-table-container {
        margin: auto;
        margin-top: 70px;
        margin-bottom: 10px;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        min-height: 280px;
        padding: 15px;
    }
    .exceed-limit-container {
        display: flex;
    }
    .bg-modal {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 720px;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
    }
    .modal-content-expense-limit {
        position: relative;
        width: 40%;
        height: 300px;
        padding: 20px;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    th {
        width: 1%;
    }
    
    @media only screen and (max-width: 950px) {
        #logoutBtn {
            left: 3%;
        }
    }
    @media only screen and (max-width: 700px) {
        #mainTable {
            /* MAKE TABLE SCROLLABLE */
            display: block;
            max-width: -moz-fit-content;
            max-width: fit-content;
            margin: 0 auto;
            overflow-x: auto;
            white-space: nowrap;
        }
    }
    
    @media only screen and (max-width: 570px) {
        #setExpenseLimitModalContainer {
            margin: auto;
            margin-left: 2%;
            width: 90%;
        }
    }
    @media only screen and (max-width: 768px) {
        .container-1 {
            display: block;
        }
        #addExpenseHeading, #expenseInfo, #expenseTableHeading {
            font-size: 30px;
        }
        .add-expense-container {
            width: 90%;
        }
        .expense-tracker-conainer {
            width: 90%;
        }
        .table {
            width: 100%;
        }
    }
    @media only screen and (max-width: 375px) {
        body {
            background-size: 100% 90%;
        }
    }
    @media only screen and (max-width: 360px) {
        body {
            background-size: 100%  90%;
        }
        #addExpenseHeading, #expenseInfo, #expenseTableHeading {
            font-size: 28px;
        }
        .table_data {
            font-size: 11px;
        }
    }
    @media only screen and (max-width: 360px) {
        body {
            background-size: 100% 100%;
        }
    }
    @media only screen and (max-width: 700px) {
        #expenseLimitText {
            font-size: 20px;
        }
    }

</style>
{% endblock %}


{% block body %}
<script src="{{url_for('static', filename='/scripts/home_table.js')}}"></script>

<div id="userID" data-user_id="{{ user_id }}"></div>
<div id="userExpenseLimits" data-user_expense_limits="{{ user_expense_limits }}"></div>
<div id="totalUserExpenses" data-total_user_expenses="{{ total_expenses }}"></div>

<!-- LOGOUT BUTTON -->
<form action="/logout">
    <button  id="logoutBtn" class="btn btn-primary">Logout</button>
</form>
<!-- ACCOUNT BUTTON -->
<form action="/account">
    <button id="accountBtn" class="btn btn-primary">Account</button>
</form>

<center>
    <h2 id="mainHeading">Portfolio</h2>
</center>


<div id="alertMessage" class="alert alert-primary" style="display: none;" role="alert"></div>

<div class="container-1">
    <!-- EXPENSE TRACKER CONTAINER -->
    <div class="expense-tracker-conainer">
        <center>
            <div id="expenseInfo">Expense Info</div>
        </center>
        <div class="form-group">
            <form>
                <!-- SPENDING LIMIT FOR TIME-->
                <label id="expenseLimitLabel" class="inputLabel" for="expensePerTime"></label>
                <select id="expenseLimitSelect" class="form-control" name="expensePerTime">
                    <option value="this-day">Today</option>
                    <option value="this-week">This Week</option>
                    <option value="this-month">This Month</option>
                    <option value="this-year">This Year</option>
                </select>
                <br>
                <!-- TOTAL EXPENSE FOR TIME -->
                <label id="totalExpenseLabel" class="inputLabel" for="totalExpense">Total Expense: $0</label>
                <select id="totalExpenseSelect" class="form-control" name="totalExpense">
                    <option value="this-day">Today</option>
                    <option value="this-week">This Week</option>
                    <option value="this-month">This Month</option>
                    <option value="this-year">This Year</option>
                    <option value="all-time">All Time</option>
                </select>
                <br>
                <a href="#setExpenseLimitModal" class="edit" data-toggle="modal">
                    <button class="btn btn-light" id="setSpendingLimitBtn" type="button">Set Expense Limit</button>
                </a>
            </form>
            
        </div>
        
    </div>
    
    <!-- ADD EXPENSE CONTAINER -->
    <div class="add-expense-container">
        <center>
            <div id="addExpenseHeading">Add Expense</div>
        </center>
        <form id="addExpenseForm" action="/addExpense" method="POST">
            <div class="form-group">
                <!-- ITEM NAME -->
                <label class="inputLabel" for="expenseName">Item Name</label>
                <input class="form-control" name="expenseName" placeholder="Enter The Name of The Expense">
                <br>
                <!-- ITEM PRICE -->
                <label class="inputLabel" for="expensePrice">Item Price</label>
                <input id="itemPrice" class="form-control" name="expensePrice" placeholder="Enter The Price of The Expense">
                <br>
                <div class="exceed-limit-container">
                    <button id="addExpenseBtn" class="btn btn-primary" type="submit" disabled>Add Expense</button>
                    <div id="exceedLimitText"></div>
                </div>
                
            </div>
        </form>
    </div>
    <!-- EXPENSE TABLE CONTAINER -->
    <div class="expense-table-container">
        <select id="expenseTableSelect" class="form-control">
            <option value="this-day">Today</option>
            <option value="this-week">This Week</option>
            <option value="this-month">This Month</option>
            <option value="this-year">This Year</option>
            <option value="all-time">All Time</option>
        </select>
        <!-- EXPENSE TABLE -->
        <center>
            <div id="expenseTableHeading">Expenses For Today</div>
        </center>
        <br>
        <table id="mainTable" class="table table-striped" style="width: 90%; margin: auto;" >
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        

    </div>

</div>

<!-- SET EXPENSE LIMIT POP MODAL -->
<div id="setExpenseLimitModal" class="modal fade">
    <div class="modal-dialog">
        <div id="setExpenseLimitModalContainer" class="modal-content">
            <form id="limitForm">
              <!-- HEADER -->
				<div class="modal-header">						
					<h4 id="expenseLimitModalHeading" class="modal-title">Set Expense Limit For Today</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- BODY -->
                <br>
                <!-- TIME FRAME SELECT -->
                <label id="expenseLimitModalLabel" class="inputLabel" for="expenseLimitPeriod">Time Frame</label>
                <select id="expenseLimitModalSelect" class="form-control" name="expenseLimitPeriod">
                    <option value="this-day">Today</option>
                    <option value="this-week">This Week</option>
                    <option value="this-month">This Month</option>
                    <option value="this-year">This Year</option>
                </select>

                <!-- SET EXPENSE LIMIT FIELD -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="expenseLimit">Expense Limit</label>
						<input class="form-control" name="expenseLimit" autocomplete="off" placeholder="Amount">
                    </div>
                </div>
                <div id="expenseLimtSetText"></div>
                <!-- SAVE AND CANCEL BUTTON -->
				<div class="modal-footer">
					<input type="button" class="btn btn-default" id="setExpenseLimitCancelBtn" data-dismiss="modal" value="Cancel">
					<button id="setLimitBtn" class="btn btn-primary" type="button" disabled>Set Limit</button>
				</div>
            </form>
        </div>
    </div>
</div>




<!-- Edit Modal HTML -->
<div id="editExpenseModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editExpenseForm">
                <!-- EDIT EXPENSE -->
				<div class="modal-header">						
					<h4 class="modal-title">Edit Expense</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <!-- NEW ITEM NAME -->
				<div class="modal-body">					
					<div class="form-group">
						<label class="inputLabel" for="newName">New Name</label>
						<input class="form-control" name="newName" autocomplete="off">
                    </div>
                    <!-- NEW ITEM PRICE -->
					<div class="form-group">
						<label class="inputLabel" for="newPrice">New Price</label>
						<input class="form-control" name="newPrice" autocomplete="off">
                    </div>
                        <p id="errorMessage" class="text-warning"><small></small></p>
                </div>
                <!-- SAVE BUTTON -->
				<div class="modal-footer">
					<input type="button" class="btn btn-default" id="editModalCancelBtn" data-dismiss="modal" value="Cancel">
					<button id="saveEditBtn" class="btn btn-primary" type="button" disabled>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteExpenseModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Expense</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete this expense?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
                    <input type="button" class="btn btn-default" id="deleteExpenseCancelBtn" data-dismiss="modal" value="Cancel">
                    <button id="deleteExpenseBtn" class="btn btn-danger" type="button">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}


{% block script %}
<script>
    var userID = document.querySelector('#userID').dataset.user_id

    var alertBox = document.getElementById('alertMessage')

    // UPDATE EXPENSE LIMIT MODAL HEADING
    document.querySelector('#expenseLimitModalSelect').onchange = function() {
        let expenseLimitModalHeading = document.querySelector('#expenseLimitModalHeading')
        if (this.value === 'this-day') {
            console.log("Day")
            expenseLimitModalHeading.textContent = "Set Expense Limit For Today"
        }
        else if (this.value === 'this-week') {
            expenseLimitModalHeading.textContent = "Set Expense Limit For This Week"
        }
        else if (this.value === 'this-month') {
            expenseLimitModalHeading.textContent = "Set Expense Limit For This Month"
        }
        else if (this.value === 'this-year') {
            expenseLimitModalHeading.textContent = "Set Expense Limit For This Year"
        }
    }



    // VALIDATE EXPENSE LIMIT INPUT
    document.querySelector('#limitForm').onkeyup = () => {
        let expenseLimit = document.forms["limitForm"]["expenseLimit"].value
        let setLimitBtn = document.getElementById("setLimitBtn")

        if (expenseLimit == '' || isNaN(expenseLimit))
            setLimitBtn.disabled = true
        else
            setLimitBtn.disabled = false
    }
    // ADD THE EXPENSE LIMIT
    document.querySelector('#setLimitBtn').onclick = () => {
        let timePeriod = document.querySelector('#expenseLimitModalSelect').value
        let expenseLimtSetText = document.querySelector('#expenseLimtSetText')
        let expenseLimit = document.forms["limitForm"]["expenseLimit"]

        request = new XMLHttpRequest()
        request.open('POST', `/setExpenseLimit/${expenseLimit.value}/${timePeriod}`)
        request.send()

        let periodToDisplay
        if (timePeriod === 'this-day') {
            periodToDisplay = "Today"
        }
        else if (timePeriod === 'this-week') {
            periodToDisplay = "This Week"
        }
        else if (timePeriod === 'this-month') {
            periodToDisplay = "This Month"
        }
        else if (timePeriod === 'this-year') {
            periodToDisplay = "This Year"
        }
        expenseLimtSetText.textContent = `Expense Limit Set To $${expenseLimit.value} For ${periodToDisplay}`
        document.querySelector('#expenseLimitLabel').textContent = `Spending Limit: $${expenseLimit.value}`
        expenseLimit.value = ""
        setTimeout(() => {expenseLimtSetText.textContent = ""}, 3000)
        setTimeout(() => {document.querySelector('#setExpenseLimitCancelBtn').click()}, 3000)
    }

    // DOM CONTENT LOADED
    document.addEventListener('DOMContentLoaded', () => {
        let expensePeriodForTable = document.getElementById('expenseTableSelect').value
        populateTable(expensePeriodForTable)
        displayTotalExpense('this-day')
        displayExpenseLimit(userID, 'this-day')
    })

    // EXPENSE TABLE SELECT
    document.querySelector('#expenseTableSelect').onchange = function() {
        let timePeriod
        if (this.value === 'all-time') {
            timePeriod = 'All Time Expenses'
        }
        else if (this.value === 'this-day') {
            timePeriod = 'Expenses For Today'
        }
        else if (this.value === 'this-week') {
            timePeriod = 'Expenses For This Week'
        }
        else if (this.value === 'this-month') {
            timePeriod = 'Expenses For This Month'
        }
        else if (this.value === 'this-year') {
            timePeriod = 'Expenses For This Year'
        }

        let tableBody = document.getElementById('tableBody')
        let expenseTableHeading = document.getElementById('expenseTableHeading')
        expenseTableHeading.textContent = timePeriod
        // REMOVE PREVEIOUS DATA FROM TABLE TO POPULATE IT WITH NEW ONE DATA
        removeAllChildNodes(tableBody)

        populateTable(this.value)
    }

    // POPULATE TABLE
    function populateTable(period) {

        // Initialize new request
        const request = new XMLHttpRequest();
        request.open('GET', `/getExpenses/${period}`);

        // Callback function for when request completes
        request.onload = () => {
            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            if (data.length === 0) {
                document.querySelector('#mainTable').style.display = "none"
            }
            else {
                document.querySelector('#mainTable').style.display = ""
            }

            // CREATE TABLE DATA
            var tableBody = document.getElementById('tableBody')

            for (let i = 0; i < data.length; i ++) {
                let tr = document.createElement('tr')
                
                // NAME DATA
                let tdName = document.createElement('td')
                tdName.className = "table_data"
                tdName.height = "65px"
                // tdName.width = "10px"
                let itemNameText = data[i]['item_name']
                tdName.textContent = itemNameText

                // PRICE DATA
                let tdPrice = document.createElement('td')
                tdPrice.className = "table_data"
                let itemPriceText = '$' + data[i]['item_price']
                tdPrice.textContent = itemPriceText

                // DATE DATA
                let tdDate = document.createElement('td')
                tdDate.className = "table_data"
                let itemDateText = data[i]['date']
                tdDate.textContent = itemDateText

                // TIME DATA
                let tdTime = document.createElement('td')
                tdTime.className = "table_data"
                let itemTimeText = data[i]['time']
                tdTime.textContent = itemTimeText

                // ACTIONS BUTTON
                let tdButton  = document.createElement('td')
        
                // EDIT BUTTON
                let editBtn = document.createElement('a')
                editBtn.href = "#editExpenseModal"
                editBtn.className = "edit"
                editBtn.dataset.toggle="modal"
                // ICON
                let editIcon = document.createElement('i')
                editIcon.className = "material-icons"
                editIcon.dataset.toggle = "tooltip"
                editIcon.dataset.item_id = data[i]['id']
                editIcon.title = "Edit"
                editIcon.innerHTML = "&#xE254;"

                editBtn.appendChild(editIcon)
                tdButton.appendChild(editBtn)

                // DELETE BTN
                let deleteBtn = document.createElement('a')
                deleteBtn.href = "#deleteExpenseModal"
                deleteBtn.className = "delete"
                deleteBtn.dataset.toggle = "modal"
                // ICON
                let deleteIcon = document.createElement('i')
                deleteIcon.className = "material-icons"
                deleteIcon.dataset.toggle = "tooltip"
                deleteIcon.dataset.item_id = data[i]['id']
                deleteIcon.title = "Delete"
                deleteIcon.innerHTML = "&#xE872;"

                deleteBtn.appendChild(deleteIcon)
                tdButton.appendChild(deleteBtn)


                tr.appendChild(tdName)
                tr.appendChild(tdPrice)
                tr.appendChild(tdDate)
                tr.appendChild(tdTime)
                tr.appendChild(tdButton)

                tableBody.appendChild(tr)

            }

            // LAST ROW
            let extraTr = document.createElement('tr')
            extraTr.className = "table-active"

            let averageExpenseTdHeading = document.createElement('td')
            averageExpenseTdHeading.style.fontWeight = "bold"
            averageExpenseTdHeading.textContent = "Average Expense"

            // EMPLY TD SLOTS
            // let emptyTd1 = document.createElement('td')
            // let emptyTd2 = document.createElement('td')

            // AVERAGE EXPENSE
            let averageExpenseTd = document.createElement('td')
            averageExpenseTd.className = "table_data"
            if (data.length != 0)
                averageExpenseTd.textContent = "$" + computeAverageExpense(data).toFixed(2)
            else
                averageExpenseTd.textContent = ""

            extraTr.appendChild(averageExpenseTdHeading)
            // extraTr.appendChild(emptyTd1)
            // extraTr.appendChild(emptyTd2)
            extraTr.appendChild(averageExpenseTd)

            tableBody.appendChild(extraTr)

        }
        request.send(200);

    }

    // TABLE BUTTONS
    document.querySelector('#mainTable').addEventListener('click', (e) =>{
        var itemID = e.target.dataset.item_id
        // EDIT BUTTON
        if (e.target.className === "material-icons" && e.target.title === "Edit") {
            // VALIDATE EDIT MODAL FORM
            var saveEditBtn = document.querySelector('#saveEditBtn')
            document.querySelector('#editExpenseForm').onkeyup = () => {
                let newNameField = document.forms["editExpenseForm"]["newName"].value
                let newPriceField = document.forms["editExpenseForm"]["newPrice"]
                
                let errorMessage = document.querySelector('#errorMessage')
                // INPUT FIELDS EMPTY
                if (newNameField === "" && newPriceField.value === "") {
                    saveEditBtn.disabled = true
                }
                else {
                    saveEditBtn.disabled = false
                }
                // PRICE FIELD NOT A NUMBER
                if (isNaN(newPriceField.value)) {
                   if (newPriceField.value.includes('$')) {
                       errorMessage.textContent = "Enter the price without the use of '$'"
                   }
                   else {
                       errorMessage.textContent = ""
                   }
                    newPriceField.style.borderColor = "red"
                    saveEditBtn.disabled = true
                }
                else {
                    saveEditBtn.disabled = false
                }
                if (newPriceField.value === "") {
                    newPriceField.style.borderColor = ""
                    errorMessage.textContent = ""
                }
            }
            // SUBMIT FORM
            saveEditBtn.onclick = () => {
                let newNameField = document.forms["editExpenseForm"]["newName"].value
                let newPriceField = document.forms["editExpenseForm"]["newPrice"].value
                if (newPriceField === "") {
                    newPriceField = "Empty"
                }
                if (newNameField === "") {
                    newNameField = "Empty"
                }

                const request = new XMLHttpRequest()
                request.open('POST', `/editExpense/${itemID}/${newNameField}/${newPriceField}`)
                request.onload = () => {
                    let tableBody = document.getElementById('tableBody')
                    let timePeriod = document.querySelector('#expenseTableSelect').value
                    document.forms["editExpenseForm"]["newName"].value = ""
                    document.forms["editExpenseForm"]["newPrice"].value = ""
                    removeEditExpenseModal()
                    showAlert("Expense Changed")
                    removeAllChildNodes(tableBody)
                    displayTotalExpense(timePeriod)
                    populateTable(timePeriod)
                }
                request.send()
            }    
        }
        else if (e.target.className === "material-icons" && e.target.title === "Delete") {
            document.querySelector('#deleteExpenseBtn').onclick = () => {
                const request = new XMLHttpRequest()
                request.open('POST', `/deleteExpense/${itemID}`)
                request.onload = () => {
                    let tableBody = document.getElementById('tableBody')
                    let timePeriod = document.querySelector('#expenseTableSelect').value
                    removeDeleteExpenseModal()
                    showAlert("Expense Deleted")
                    removeAllChildNodes(tableBody)
                    displayTotalExpense(timePeriod)
                    populateTable(timePeriod)
                }
                request.send()
            }
        }
       
    })
    //  REMOVE MODALS
    function removeEditExpenseModal() {
        document.querySelector('#editModalCancelBtn').click()
    }
    function removeDeleteExpenseModal() {
        document.querySelector('#deleteExpenseCancelBtn').click()
    }

    // DISPLAY TOTAL EXPENSE
    function displayTotalExpense(perioid) {
        let totalExpenseLabel = document.getElementById('totalExpenseLabel')
        
        // Initialize new request
        const request = new XMLHttpRequest()
        request.open('GET', `/getTotalExpense/${perioid}`)

        // Callback function for when request comples
        request.onload = () => {
            var totalExpense = parseFloat(request.responseText)
            totalExpenseLabel.textContent = "Total Expense: $" + totalExpense.toFixed(2)
        }
        request.send()
    }
    document.querySelector('#totalExpenseSelect').onchange = function() {
        var timePeriod = this.value
        displayTotalExpense(timePeriod)
    }
    // DISPLAY EXPENSE LIMIT
    function displayExpenseLimit(userID, period) {
        request = new XMLHttpRequest()
        request.open('GET', `/getExpenseLimit/${userID}/${period}`)

        request.onload = () => {
            const data = parseFloat(request.responseText)
            if (isNaN(data)) {
                document.querySelector('#expenseLimitLabel').textContent = `Spedning Limit: Not Set`
            }
            else {
                document.querySelector('#expenseLimitLabel').textContent = `Spedning Limit: $${data.toFixed(2)}`
            }
            
        }
        request.send(200)
    }
    document.querySelector('#expenseLimitSelect').onchange = function() {
        displayExpenseLimit(userID, this.value)
    }

    function computeAverageExpense(data) {
        let totalExpense = 0
        for (let i = 0; i < data.length; i ++) {
            totalExpense += data[i]['item_price']
        }
        let average = totalExpense / data.length
        return average
    }

    // ADD EXPENSE FORM -onkeyup
    document.querySelector('#addExpenseForm').onkeyup = () => {
        var expenseNameField = document.forms["addExpenseForm"]["expenseName"].value
        var expensePriceField = document.forms["addExpenseForm"]["expensePrice"].value
        var addExpenseBtn = document.querySelector('#addExpenseBtn')

        var dayLimit = getUserExpenseLimit('this-day')
        var weekLimit = getUserExpenseLimit('this-week')
        var monthLimit = getUserExpenseLimit('this-month')
        var yearLimit = getUserExpenseLimit('this-year')

        var totalDay = parseFloat(getTotalUserExpenses('this-day'))
        var totalWeek = parseFloat(getTotalUserExpenses('this-week'))
        var totalMonth = parseFloat(getTotalUserExpenses('this-month'))
        var totalYear = parseFloat(getTotalUserExpenses('this-year'))
       
        var exceedLimitText = document.getElementById('exceedLimitText')

        // CHECK IF THE EXPENSE THAT IS ABOUT TO BE ADDED WILL EXCEED THE EXPENSE LIMIT SET
        let over = false
        if ((totalDay + parseFloat(expensePriceField)) > dayLimit && dayLimit != null) {
            over = true
            exceedLimitText.textContent = "This expense will go over your limit for the day"
        }
        if ((totalWeek + parseFloat(expensePriceField)) > weekLimit && weekLimit != null) {
            over = true
            exceedLimitText.textContent = "This expense will go over your limit for the week"
        }
         if ((totalMonth + parseFloat(expensePriceField)) > monthLimit && monthLimit != null) {
             over = true
            exceedLimitText.textContent = "This expense will go over your limit for the month"
        }
        if ((totalYear + parseFloat(expensePriceField)) > yearLimit && yearLimit != null) {
            over = true
            exceedLimitText.textContent = "This expense will go over your limit for the year"
        }
        if (over === false) {
            exceedLimitText.textContent = ""
        }
       
        // VALIDATE FIELD
        if (expenseNameField != '' && expensePriceField != '') {
            addExpenseBtn.disabled = false
        }
        else {
            addExpenseBtn.disabled = true
        }

        if (expensePriceField != '') {
            if (isNaN(expensePriceField)) {
            document.querySelector('#itemPrice').style.borderColor = "red"
            addExpenseBtn.disabled = true
            }
            else {
                document.querySelector('#itemPrice').style.borderColor = ""
            }
        }
    }

    function getUserExpenseLimit(period) {
        return loadUserExpenseLimits()[period]
    }
    function getTotalUserExpenses(period) {
        return loadTotalUserExpenses()[period]
    }

    function loadUserExpenseLimits() {
        let expenseLimit = document.querySelector('#userExpenseLimits').dataset.user_expense_limits.replace(/'/g, '"').replace(/'/g, '"').replace(/None/g, "null")
        expenseLimit = JSON.parse(expenseLimit)
        return expenseLimit
    }
    function loadTotalUserExpenses() {
        let totalExpenses = document.querySelector('#totalUserExpenses').dataset.total_user_expenses.replace(/'/g, '"').replace(/'/g, '"').replace(/None/g, "null")
        totalExpenses = JSON.parse(totalExpenses)
        return totalExpenses

    }
    
    // ADD EXPENSE FORM - onsubmit
    document.querySelector('#addExpenseForm').onsubmit = () => {
        var expenseName = document.forms["addExpenseForm"]["expenseName"].value
        showAlert(`${expenseName} Has Been Added`)
    }

    // SHOW ALERT
    function showAlert(message) {
        alertBox.textContent = message
        alertBox.style.display = "block"
        setTimeout(removeAlert, 4000)
    }
    function removeAlert() {
        alertBox.style.display = "none"
    }


    function parseUserExpense(userExpense) {
        if (userExpense === 'Not Set') {
            return null
        }
        userExpense = parseFloat(userExpense.split('$')[1])
        return userExpense
    }

    function removeAllChildNodes(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild)
        }
    }
    
    function disableScroll() { 
        // Get the current page scroll position 
        scrollTop = window.pageYOffset || document.documentElement.scrollTop; 
        scrollLeft = window.pageXOffset || document.documentElement.scrollLeft, 

		// if any scroll is attempted, set this to the previous value 
		window.onscroll = function() { 
			window.scrollTo(scrollLeft, scrollTop); 
		}; 
    } 

    function enableScroll() { 
        window.onscroll = function() {}; 
    } 


</script>
{% endblock%}