{% extends "layout.html" %}

{% block style %}

<style>
    .form-container {
        margin: auto;
        margin-top: 80px;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        height: 290px;
        padding: 15px;
    }
    #loginButton, #registerButton {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
        margin-right: 5px;
    }
    #confirmPass {
        display: none;
    }
    #Email {
        display: none;
    }
    #passwordErrorMsg, #emailErrorMsg {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: rgb(219, 14, 14);
        margin: 5px;
    }
    #emailErrorMsg {
        color: orange;
    }
    #alertDiv {
        margin: auto;
        /*width: 50%;*/
    }
    #alertMessage {
        /*background-color: rgb(227, 148, 16);*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;

    }

   .button-and-error-msg-container {
       /* border: 2px solid black; */
       display: flex;
       align-items: flex-start;
       /* padding: 10px; */
   }
    .container-1 {
        height: 650px;
    }
    .container-2 {
        background-color: darkgray;
        height: 40px;
    }
    @media only screen and (max-width: 768px) {
        #alertMessage {
            width: 90%;
        }
        .form-container {
            width: 90%;
            margin-top: 40px;
        }
    }
    @media only screen and (max-width: 475px) {
        #passwordErrorMsg, #emailErrorMsg {
            font-size: 17px;
        }
    }
    @media only screen and (max-width: 320px) {
        #passwordErrorMsg, #emailErrorMsg {
            font-size: 15px;
        }
        .form-container {
            width: 95%;
        }
    }
    @media only screen and (max-width: 280px) {
        #passwordErrorMsg, #emailErrorMsg {
            display: none;
        }
    }
  
</style>
{% endblock %}

{% block body %}

<div class="container-1">
<!--    <div class="alert alert-danger" role="alert">Alert</div>-->
        <center>
            <div id="mainHeading">BudgIt</div>
        </center>
    <!-- </div> -->


    <div id="alertDiv">
<!--        <div id="alertMessage" class="alert alert-warning" role="alert">You Are Not Registered</div>-->
    </div>
    <div class="form-container">
        <form id="validateForm" name="Form" method="POST">
            <div class="form-group">
                <!-- USERNAME -->
                <label class="inputLabel" for="userName">Username</label>
                <input class="form-control" name="userName" placeholder="Type your username here">
                <br>
                <!-- EMAIL -->
                <div id="Email">
                    <label class="inputLabel" for="userEmail">Email</label>
                    <input class="form-control" name="userEmail" placeholder="Enter Your Email">
                    <br>
                </div>
                <!-- PASSWORD -->
                <label class="inputLabel" for="userPassword">Password</label>
                <input class="form-control" name="userPassword" placeholder="Type your password here" type="password">
                <br>
                <!-- CONFIRM PASSWORD -->
                <div id="confirmPass">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input id="cPass" class="form-control" name="confirmPassword" placeholder="Confirm your password" type="password">
                </div>
                <br>
                <!--  BUTTON CONTAINER -->
                <div class="button-and-error-msg-container">
                    <button id="loginButton" class="btn btn-primary" type="button" disabled onclick="removeConfirmPasswordAndEmail();">Login</button>
                    <button id="registerButton" class="btn btn-success" type="button" onclick="showConfirmPasswordAndEmail();">Register</button>
                     <!-- ERROR MESSAGE -->
                    <div id="passwordErrorMsg"></div>
                    <div id="emailErrorMsg"></div>
                </div>
               
            </div>
        </form>

    </div>
    
    <div class="container-3">

    </div>
    
</div>

{% endblock %}

{% block script %}

<script>

    // document.querySelector('#loginButton').addEventListener('click', submitForm)
    // document.querySelector('#registerButton').addEventListener('click', submitForm)

    // window.onload = function() {
    //     removeAlert()
    // };

    // removeAlert
    function removeAlert() {
        var alertBox = document.getElementById('alertMessage')
        if (alertBox != null) {
            setTimeout(function(){ alertBox.style.display = "none"; }, 3000);
        }
        
    }

    // Submit Form
    function submitForm() {
        let userName = document.forms['Form']['userName'].value
        let userEmail = document.forms['Form']['userEmail'].value
        let userPassword = document.forms['Form']['userPassword'].value
        let confirmPassword = document.forms['Form']['confirmPassword'].value

        if (userEmail === '')
            userEmail = null
        if (confirmPassword === '')
            confirmPassword = null

        const request = new XMLHttpRequest()
        request.open('POST', `/authenticate/null/${userName}/${userEmail}/${userPassword}/${confirmPassword}`)
        request.onload = () => {
            // console.log(request.responseText)
            const authenticateData = JSON.parse(request.responseText)
            // console.log(authenticateData)

            // Login User
            if (authenticateData['message'] === 'Login User') {
                window.location.href = authenticateData['route']
            }
            // User Not Registered
            if (authenticateData['message'] === 'User Not Registered') {
                showAlert('You Are Not Registered', 'danger')
            }
            // Register User
            if (authenticateData['message'] === 'Register User') {
                window.location.href = authenticateData['route']
            }
            // User Already Registered
            if (authenticateData['message'] === 'User Already Registered') {
                showAlert('You Are Already Registered', 'warning')
            }

        }
        request.send()

    }
    document.querySelector('#loginButton').onclick = () => {

    }


    // Validate Form
    document.querySelector('#validateForm').addEventListener('keyup', (e) => {
        // console.log("validateForm")
        let confirmPass =  document.getElementById("confirmPass");

        let loginBtn = document.getElementById("loginButton");
        let registerBtn = document.getElementById("registerButton");

        let nameField = document.forms["Form"]["userName"].value;
        let passwordField = document.forms["Form"]["userPassword"].value;
        let emailField = document.forms["Form"]["userEmail"];
        let confirmPassField = document.forms["Form"]["confirmPassword"].value;

        let passwordErrorMsg = document.querySelector('#passwordErrorMsg');
        let emailErrorMsg = document.querySelector('#emailErrorMsg')

        //  LOGIN BUTTON
        if (confirmPass.style.display === "") {
            if (nameField !== "" && passwordField !== "") {
                loginBtn.disabled = false;
                loginBtn.onclick = submitForm
            }
            else {
                loginBtn.disabled = true
            }
        }

        // REGISTER BUTTON
        var byPassDisable = false
        if (confirmPass.style.display === "block") {
            // VALIDATE PASSWORDS
            var confirmPassInput = document.getElementById('cPass')

            // Passwords don't match
            if ((passwordField !== "" && confirmPassField !== "") && passwordField !== confirmPassField) {
                adjustContainerWidth(screen.width)
                confirmPassInput.style.borderColor = "red"
                passwordErrorMsg.textContent = "Passwords don't match"
                byPassDisable = true
                registerBtn.disabled = true
            }
            else {
                revertContainerWidth(screen.width)
                confirmPassInput.style.borderColor = ""
                passwordErrorMsg.textContent = ""
                registerBtn.disabled = false
            }
            // Invalid email address
            if (!(emailField.value.includes('@')) && emailField.value !== '') {
                adjustContainerWidth(screen.width)
                emailField.style.borderColor = "orange"
                emailErrorMsg.textContent = "Invalid email address"
                byPassDisable = true
                registerBtn.disabled = true
            }
            else {
                revertContainerWidth(screen.width)
                emailField.style.borderColor = ""
                emailErrorMsg.textContent =  ""
                registerBtn.disabled = false
            }
            // Everything is validated and user is able to register
            if ((nameField !== "" && passwordField !== "" && confirmPassField !== "" && emailField.value !== "") && !byPassDisable) {
                registerBtn.disabled = false;
                registerBtn.onclick = submitForm
            }
            else {
                registerBtn.disabled = true;

            }
        }

    })


    // Show Confirm Password and Email
    function showConfirmPasswordAndEmail() {
        let loginBtn = document.querySelector('#loginButton')
        let registerBtn = document.querySelector('#registerButton')

        let confirmPass =  document.getElementById("confirmPass");
        let emailField = document.getElementById('Email');

        // Change button states
        loginBtn.onclick = removeConfirmPasswordAndEmail
        registerBtn.onclick = submitForm
        registerBtn.disabled = true
        loginBtn.disabled = false

        if (confirmPass.style.display === "") {
            loginBtn = document.getElementById("loginButton");
            registerBtn = document.getElementById("registerButton");

            // confirmPass =  document.getElementById("confirmPass");
            confirmPass.style.display = "block";
            emailField.style.display = "block"


            // registerBtn.disabled = true;
            // loginBtn.disabled = false;
            
        }

        // EXTEND THE HEIGHT
        document.querySelector('.form-container').style.height = "460px"
       
    }

    // removeConfirmPassword and Email
    function removeConfirmPasswordAndEmail() {
        // console.log("remove Confirm")
        document.querySelector('.form-container').style.height = "290px"

        let nameField = document.forms["Form"]["userName"].value
        let passwordField = document.forms["Form"]["userPassword"].value
        let emailField = document.forms["Form"]["userEmail"]
        let confirmPassField = document.forms["Form"]["confirmPassword"]

  
        let loginBtn = document.getElementById("loginButton");
        let registerBtn = document.getElementById("registerButton");

        let confirmPassInput =  document.getElementById("confirmPass");
        let emailInput = document.getElementById("Email");

        // Remove confirm password and email input
        confirmPassInput.style.display = "";
        confirmPassInput.value = ""
        emailInput.style.display = ""
        // Clear the fields of confirm password and email input
        confirmPassField.value = ""
        emailField.value = ""


        // Change button states
        registerBtn.disabled = false;
        registerBtn.onclick = showConfirmPasswordAndEmail

        if (nameField !== '' && passwordField !== '')
            loginBtn.disabled = false
        else
            loginBtn.disabled = true
        

        // loginBtn.disabled = false
        loginBtn.onclick = submitForm
        // loginBtn.type = "submit"

            
    }

    // adjustContainer
    function adjustContainerWidth(screenWidth) {
        if (screenWidth < 630) {
            document.querySelector('.form-container').style.height = "480px"
        }
    }
    function revertContainerWidth(screenWidth) {
        if (screenWidth < 630) {
            document.querySelector('.form-container').style.height = "460px"
        }
    }

    // Show alert
    function showAlert(alertText, type) {
        if (type === undefined || !(['primary', 'warning', 'danger', 'success'].includes(type))) {
            type = 'primary'
        }
        // Create alert div
        const alertDiv = document.createElement('div')
        alertDiv.role = 'alert'
        alertDiv.className = `alert alert-${type}`
        alertDiv.id = 'alertMessage'
        alertDiv.style.borderRadius = '10px'
        alertDiv.textContent = alertText
        if (type === 'danger') {
            alertDiv.style.backgroundColor = 'rgb(209,13,13)'
        }
        if (type === 'primary') {
            alertDiv.style.backgroundColor = 'rgb(80, 113, 213)'
        }
        if (type === 'success') {
            alertDiv.style.backgroundColor = 'rgb(76, 180, 40)'
        }
        if (type === 'warning') {
            alertDiv.style.backgroundColor = 'rgb(227, 148, 16)'
        }

        // Add alert to page
        document.querySelector('#alertDiv').appendChild(alertDiv)
        // document.querySelector('.form-container').insertBefore(alertDiv, document.querySelector('#alertDiv'))

        // Remove alert
        setTimeout(()=>{alertDiv.remove()}, 2000)
    }


</script>

{% endblock %}