{% extends "layout.html" %}

{% block style %}

<style>
    .form-container {
        margin: auto;
        margin-top: 80px;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        height: 290px;
        padding: 15px;
    }
    #loginButton, #registerButton {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
        margin-right: 5px;
    }
    #confirmPass {
        display: none;
    }
    #Email {
        display: none;
    }
    #passwordErrorMsg, #emailErrorMsg {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: rgb(219, 14, 14);
        margin: 5px;
    }
    #emailErrorMsg {
        color: orange;
    }
   .button-and-error-msg-container {
       /* border: 2px solid black; */
       display: flex;
       align-items: flex-start;
       /* padding: 10px; */
   }
    .container-1 {
        height: 650px;
    }
    .container-2 {
        background-color: darkgray;
        height: 40px;
    }
    @media only screen and (max-width: 768px) {
        .form-container {
            width: 90%;
            margin-top: 40px;
        }
    }
    @media only screen and (max-width: 475px) {
        #passwordErrorMsg, #emailErrorMsg {
            font-size: 17px;
        }
    }
    @media only screen and (max-width: 320px) {
        #passwordErrorMsg, #emailErrorMsg {
            font-size: 15px;
        }
        .form-container {
            width: 95%;
        }
    }
    @media only screen and (max-width: 280px) {
        #passwordErrorMsg, #emailErrorMsg {
            display: none;
        }
    }
  
</style>
{% endblock %}

{% block body %}

<div class="container-1">
        <center>
            <div id="mainHeading">BudgIt</div>
        </center>
    <!-- </div> -->
    <!-- ALERT MESSAGE -->
    {% if alert == True %}
        {% set alertType = alertType %}
        {% set alertMessage = alertMessage %}

        <div id="alertMessage" class="alert alert-{{ alertType }}" role="alert">{{ alertMessage }}</div>

    {% endif %}

   
    
    <div class="form-container">
        <form action="/authenticate" name="Form" onkeyup="validateForm();" method="POST">
            <div class="form-group">
                <!-- USERNAME -->
                <label class="inputLabel" for="userName">Username</label>
                <input class="form-control" name="userName" placeholder="Type your username here">
                <br>
                <!-- EMAIL -->
                <div id="Email">
                    <label class="inputLabel" for="userEmail">Email</label>
                    <input class="form-control" name="userEmail" placeholder="Enter Your Email">
                    <br>
                </div>
                <!-- PASSWORD -->
                <label class="inputLabel" for="userPassword">Password</label>
                <input class="form-control" name="userPassword" placeholder="Type your password here" type="password">
                <br>
                <!-- CONFRIM PASSWORD -->
                <div id="confirmPass">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input id="cPass" class="form-control" name="confirmPassword" placeholder="Confirm your password" type="password">
                </div>
                <br>
                <!-- LOGIN BTN -->
                <div class="button-and-error-msg-container">
                    <button id="loginButton" class="btn btn-primary" type="button" disabled="true" onclick="removeConfirmPasswordAndEmail();">Login</button>
                    <button id="registerButton" class="btn btn-success" type="button" onclick="showConfirmPasswordAndEmail();">Register</button>
                     <!-- ERROR MESSAGE -->
                    <div id="passwordErrorMsg"></div>
                    <div id="emailErrorMsg"></div>
                </div>
               
            </div>
        </form>

    </div>
    
    <div class="container-3">

    </div>
    
</div>

{% endblock %}

{% block script %}

<script>

    window.onload = function() {
        removeAlert()
    };

    function removeAlert() {
        var alertBox = document.getElementById('alertMessage')
        if (alertBox != null) {
            setTimeout(function(){ alertBox.style.display = "none"; }, 3000);
        }
        
    }


    function validateForm() {
        // console.log("validateForm")
        let confirmPass =  document.getElementById("confirmPass");
       
        let loginBtn = document.getElementById("loginButton");
        let registerBtn = document.getElementById("registerButton");

        let nameField = document.forms["Form"]["userName"].value;
        let passwordField = document.forms["Form"]["userPassword"].value;
        let emalField = document.forms["Form"]["userEmail"];
        let confirmPassField = document.forms["Form"]["confirmPassword"].value;

        let passwordErrorMsg = document.querySelector('#passwordErrorMsg');
        let emailErrorMsg = document.querySelector('#emailErrorMsg')


         //  LOGIN BUTTON
        if (confirmPass.style.display === "") {
            if (nameField != "" && passwordField != "") {
                // console.log("Login Changed To Submit")
                loginBtn.disabled = false;
                loginBtn.type = "submit";
            }
            else {
                // console.log("Login Changed To Button")
                loginBtn.disabled = true;
                loginBtn.type ="button";
            }
        }

        // REGISTER BUTTON
        var byPassDisable = false
        if (confirmPass.style.display === "block") {
             // VALIDATE PASSWORDS
            var confirmPassInput = document.getElementById('cPass')

            // Passwords don't match
            if ((passwordField != "" && confirmPassField != "") && passwordField != confirmPassField) {
                adjustContainerWidth(screen.width)
                confirmPassInput.style.borderColor = "red"
                passwordErrorMsg.textContent = "Passwords don't match"
                byPassDisable = true
                registerBtn.disabled = true
            }
            else {
                revertContainerWidth(screen.width)
                confirmPassInput.style.borderColor = ""
                passwordErrorMsg.textContent = ""
                registerBtn.disabled = false
            }
            // Invalid email address
            if (!(emalField.value.includes('@'))) {
                adjustContainerWidth(screen.width)
                emalField.style.borderColor = "orange"
                emailErrorMsg.textContent = "Invalid email address"
                byPassDisable = true
                registerBtn.disabled = true
            }
            else {
                revertContainerWidth(screen.width)
                emalField.style.borderColor = ""
                emailErrorMsg.textContent =  ""
                registerBtn.disabled = false
            }
            // Everything is validated and user is able to register
            if ((nameField != "" && passwordField != "" && confirmPassField != "" && emalField.value != "") && !byPassDisable) {
                registerBtn.disabled = false;
                registerBtn.type = "submit"
            }
            else {
                registerBtn.disabled = true;
                registerBtn.type = "button";
            }
        }

    }
    
    function showConfirmPasswordAndEmail() {
        // console.log("show Confirm")
        // EXTEND THE HEIGHT
        document.querySelector('.form-container').style.height = "460px"
        document.querySelector('#loginButton').type = "button"

        let confirmPass =  document.getElementById("confirmPass");
        let emalField = document.getElementById('Email');

        if (confirmPass.style.display === "") {
            loginBtn = document.getElementById("loginButton");
            registerBtn = document.getElementById("registerButton");

            // confirmPass =  document.getElementById("confirmPass");
            confirmPass.style.display = "block";
            emalField.style.display = "block"

            registerBtn.disabled = true;
            loginBtn.disabled = false;
            
        }
       
    }

    function removeConfirmPasswordAndEmail() {
        // console.log("remove Confirm")
        document.querySelector('.form-container').style.height = "290px"

        let nameField = document.forms["Form"]["userName"].value;
        let passwordField = document.forms["Form"]["userPassword"].value;
        let confirmPassField = document.forms["Form"]["confirmPassword"].value;

  
        let loginBtn = document.getElementById("loginButton");
        let registerBtn = document.getElementById("registerButton");

        let confirmPass =  document.getElementById("confirmPass");
        let emalField = document.getElementById("Email");

        confirmPass.style.display = "";
        emalField.style.display = ""
        // loginBtn.type = "submit"
        registerBtn.disabled = false;
        
        if (nameField != '' && passwordField != '') {
            loginBtn.disabled = false
            // loginBtn.type = "submit"
        }
        else {
            loginBtn.disabled = true
        }
            
    }

    function adjustContainerWidth(screenWidth) {
        if (screenWidth < 630) {
            document.querySelector('.form-container').style.height = "480px"
        }
    }
    function revertContainerWidth(screenWidth) {
        if (screenWidth < 630) {
            document.querySelector('.form-container').style.height = "460px"
        }
    }
    
</script>

{% endblock %}