{% extends "layout.html" %}


{% block style %}

<style>
    #periodHeading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 35px;
        font-weight: 400;
    }
    #setLimitBtn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: none;
        border-radius: 10px;
        background-color: blueviolet;
    }
    .container-1 {
        height: 300px;
    }
    .expense-limit-container-1 {
        margin: auto;
        width: 80%;
        height: 210px;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
    }
</style>

{% endblock %}

{% block body %}
<div id="userID" data-user_id="{{ user_id }}"></div>

<div class="container-1">
    <center>
        <div id="mainHeading">Set Expense Limit</div>
    </center>

    <div class="expense-limit-container-1">
        <center>
            <div id="periodHeading">For The Day </div>
        </center>
        <div class="form-group">
            <form id="limitForm">
                <lable class="inputLabel" for="expenseLimit">Expense Limit</lable>
                <input id="expenseLimitInput" class="form-control" name="expenseLimit" placeholder="Amount">
                <br>
                <button id="setLimitBtn" class="btn btn-primary" type="button" disabled>Set Limit</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

<script>
    document.querySelector('#limitForm').onkeyup = () => {
        let expenseLimit = document.forms["limitForm"]["expenseLimit"].value
        let setLimitBtn = document.getElementById("setLimitBtn")

        if (expenseLimit == '' || isNaN(expenseLimit))
            setLimitBtn.disabled = true
        else
            setLimitBtn.disabled = false
    }

    function addExpenseLimit(expenseLimit) {
        let currentExpenseLimits = getCurrentExpenseLimits()

        if (isNewExpense(currentExpenseLimits, expenseLimit) === true) {
            currentExpenseLimits.push(expenseLimit)
            localStorage.setItem('expenseLimit', JSON.stringify(currentExpenseLimits))
        }
        else {
            let index = isNewExpense(currentExpenseLimits, expenseLimit)[1]
            currentExpenseLimits[index] = expenseLimit
            localStorage.setItem('expenseLimit', JSON.stringify(currentExpenseLimits))
        }
       
    }
    function getCurrentExpenseLimits() {
        if (localStorage.getItem('expenseLimit') === 'Not Set') {
            return []
        }
        return JSON.parse(localStorage.getItem('expenseLimit'))
    }
    function isNewExpense(allExpenses, userExpense) {
        for (let i = 0; i < allExpenses.length; i++) {
            if (allExpenses[i]['id'] === userExpense['id'])
                return [false, i]
        }
        return true
    }

    document.querySelector('#setLimitBtn').onclick = () => {
        let expenseLimit = document.forms["limitForm"]["expenseLimit"].value
        let setLimitBtn = document.getElementById("setLimitBtn")
        let idContainer = document.querySelector('#userID')

        let userExpenseLimit = {
            'id': idContainer.dataset.user_id,
            'expenseLimit': expenseLimit,
        }

        addExpenseLimit(userExpenseLimit)

        document.querySelector('#periodHeading').style.fontSize = "25px"
        document.querySelector('#periodHeading').style.marginBottom = "5px"

        document.querySelector('#periodHeading').textContent = `Expense Limit Set to $${expenseLimit} For The Day`
        document.querySelector('#expenseLimitInput').value = ""
        setLimitBtn.disabled = true



    }


</script>

{% endblock %}